body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p.danger {
  color: #f38989;
  font-family: 'Bungee';
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5px;

}

input.danger {
  border: 2px solid red;
  border-radius: 4px;
}

select.danger {
  border: 2px solid red;
  border-radius: 4px;
}