.backgroundImage{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('../../imagenes/exposición-videojuegos-Valencia-scaled.jpg');
    width: 100;
    height: 100vh;
} 


.containerDetails{
  
    
    
    
    
}