.backgroundImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('../../imagenes/exposición-videojuegos-Valencia-scaled.jpg');
    height: 120%;
}

.containerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 120%;
    border-radius: 40px;
    background: rgba(3, 3, 25, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 20px;
    border: none;
    margin: 5%;
}

img {
    height: 400px;
    width: 800px;
    margin: 10px;
}

.backgroundImage h1 {
    font-family: 'My Font Name';
    color: white;
    text-shadow: 5px 5px 10px black;
}

.containerDetails h3 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 10px
}

.containerDetails h4 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 10px;
}

.containerDetails p {
    margin: 5px;
}