@font-face {
    font-family: "My Font Name";
    src: url("../../assets/RubikMonoOne-Regular.ttf") format("truetype");
  }
.h1Font{
        font-family: 'My Font Name';
        font-size: 50px;
        color:rgb(232, 205, 71);
        /* border-color: white; */
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
     
}
@keyframes glow {
    from {
      text-shadow: /*0 0 1px #fff, /*0 0 2px #fff,*/ 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 30px #e60073;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 7px #cc40d9, 0 0 30px #cc40d9, 0 0 40px #cc40d9,/* 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 30px #ff4da6*/;
    }
  }



/*Description*/

.h4{
    /* color:rgb(232, 205, 71); */
    color: rgb(238, 221, 139);
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
 /* text-shadow:1px 0 #cc40d9, -1px 0 #cc40d9, 0 1px#cc40d9, 0 -1px #cc40d9,
 1px 1px#cc40d9, -1px -1px#cc40d9, 1px -1px#cc40d9, -1px 1px#cc40d9; */
}



 /*Boton*/

.btn {
    width: 200px;
    font-family: 'My Font Name';
    font-size: 20px;
    height: 60px;
    border: none;
    outline: none;
    background: #e60073;
    color: rgb(232, 205, 71);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .btn::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #e9eeb6,
      #eca44c,
      #f2ea04,
      #e3e81d,
      #8e58fb,
      #da9eee,
      #e787e0,
      #dd00f3,
      #dd00f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3b0c3d;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.landingPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(../../imagenes/Arcade-para-niños-crea-cuervos-papá-gamer-ok.jpg);
    height: 100vh;
    /* width: 100vw; */
    padding: 3rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background: rgba(73, 26, 101, 0.21);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(73, 26, 101, 0.2);
    padding: 1rem;
    
}